# Add your Supabase credentials here
# Get them from: https://supabase.com/dashboard -> Settings -> API

VITE_SUPABASE_URL=https://rckjbbfphdmarptjwszq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_EdLfbcQphrlh0Vt5mfPO6w_cTLPruh9
VITE_API_URL=http://localhost:10000